.submit{
    margin-left: 15px;
    width : 90px;
    border-radius: 25px;
    color: white;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   }
.submit:hover{
    background-color: rgb(74 222 128);
    cursor: pointer;  
   }
.problem{
    color: white;
    font-size: medium;
}